*{
    margin: 0px;
    padding: px;
    box-sizing: border-box;
    font-family: Arial;
}
.header{
    padding: 20px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header img{
    border-radius: 50%;
}
.header ul li{
    display: inline-block;

}
.header ul li a{
    font-size: 20px;
    color: black;
}
li a{
    text-decoration: none;
    padding: 10px;
}
.header ul li a:hover{
    background-color: orangered;
    color: white;
    border-radius: 10px;
}
.button{
    height: 40px;
    width:100px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button:hover{
    background-color: orangered;
    color: aliceblue;
    font-size: 16px;
    font-weight: bolder;
}
.hero{
    margin: 30px;
    padding: 20px;
    border-bottom: 1px solid grey;

}
.hero h1{
    color: green;
    padding: 20px;
}
.hero1{
    display: flex;
    padding: 20px;
    flex-direction: row;
    gap: 20px;
}
.box2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box2 h1{
    color: black;
}
.box2 a{
    color: black;
    text-decoration: none;
}
.breaking{
    margin: 30px;
    height: auto;
    padding: 20px;
}
.breaking h1{
    color: green;
    padding: 10px;
}
.breakingnews{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.breakingnews a{
    text-decoration: none;
    color:black;
    font-size: 14px;
}
.breakingnews img{
    border-radius: 20px;
}
.breaking div{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.breakingnews h2{
    color: red;
}
.breakingnews h2:hover{
    color: cadetblue;

}
.sports{
    margin: 30px;
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}
.sports h1{
    color: green;
    padding: 20px;
    font-size: 30px;
 }
 
 .latestgridd{
     padding: 20px;
     display: grid;
     justify-content:center;
     grid-template-columns: 1fr 1fr 1fr ;
     font-size: 15px;
     gap: 20px;
}
 .latestgridd a{
     text-decoration: none;
     color: black;
}
 .latestgridd a:hover{
 color: cadetblue;
}
.politics{
    margin: 30px;
}
.politics h1{
   padding: 20px;
   color: green;
   font-size: 30px;
}

.politicsgrid{
    padding: 20px;
    display: grid;
    justify-content:center;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 15px;
    gap: 40px;
}
.politicsgrid a{
    text-decoration: none;
    color: black;
}
.politicsgrid a:hover{
color: cadetblue;
}
.politicsgrid img{
    max-height: 240px;
    border-radius: 20px;
}
.ad{
    background-color: #dfd9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mostread{
    height: auto;
    margin: 35px;
}
.mostread h1{
    border-bottom:1px solid black;
    padding: 20px ;
    font-size: 30px;
    color: green;

}
.mostread ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.mostread ul li a{
    color: black;
    font-size: 20px;
    display: grid;
}
.mostread ul li a:hover{
    color: orangered;
}


.footer{
    background-color:#4c4c4c;
    height: auto;
    width: auto;
}
.footer h2{
    padding: 40px ;
    color: darkgray;
    text-align: center;
}
.items{
    text-decoration: none;
    padding: 40px;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;

}
.items ul li{
    list-style: none;
    display: inline-block;
    text-align: center;
    
}
.items ul li:hover{
    border-bottom: 2px solid orangered;
}
.items ul li a{
    color: skyblue;
}
.items ul li a:hover{
    color: darkgray;
}

footer p{
    font-size: 20px;
    font-weight: bolder;
    color: wheat;
    padding: 20px;
    text-align: center;
}
/* media queries */
@media (max-width: 1023px){
    .header ul{
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        right: 0;
        top: 20px;
        background-color: white;

        /* display: none; */
    }

    .header{
        position: relative;
    }
}

@media (max-width: 767px){
    
}
